*{
  margin: 0;
  padding: 0;
}
.text1{
  height: 110px;
  display: flex;
  justify-content: space-between;
  background-color: blue;
  align-items: center;
}
had {
  width: 20px;
  padding-right: 50%;
}
.had img{
  width: 100px;
  border-radius: 50%;
  margin-left: 20px;
}
.go {
  text-decoration: none;
 color: bisque;
 font-weight: bold;
}
.egg{
  display: flex;
  width: 300px;
  justify-content: space-evenly;
  font-size: 24px;
}
.greed{
  background-image: url(../img/배경사진2.png);
  height: 600px;
  background-repeat: repeat ;
  background-position: center;
}
.greed h2{
  display: flex;
  background-color:gray;
  width: 350px ;
  border-radius: 10px;
  height: 100px;
  padding:20px 0;
  
  
}
.greed{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.apple{
  width: 80%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;

}
.greed > h2{
  box-shadow: 5px 5px 10px black;
  margin-top: 30px;
}
.back-btn{
  padding: 10px 10px;
  border-radius: 10px;
  margin-top: 30px;
  border: none;
  
}
.fox{
  background-color: deepskyblue;
  width: 450px;
  border-radius: 10px;
  margin: 0 auto;
}
.gog{
    text-align: center;
    margin-top: -30px;
    padding: 20px 0;
    margin-bottom: 100px;
  }
  .gog h2{
    padding-bottom: 10px;
  }
  .gog strong{
    border: 2px solid gold;
   box-shadow: 2px 3px 6px black;
   border-radius: 30px;
   background-color: blanchedalmond;

  }
  .all{
    display: flex;
    justify-content: space-evenly;
    margin-top: -50px;
    margin-bottom: 100px;
  }
  
  .box{
    background-color: cornflowerblue;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 10px;
    width: 200px;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    border: 2px solid firebrick;
    box-shadow: 3px 3px 7px blue;
    
  }
  .box:last-child{
    margin-right: 0;
  }
  .text2{
    display: flex;
    justify-content: space-between;
    height: 100px;
    background-color: black;
    align-items: center;
  }
  .text2 img{
    width: 100px;
    border-radius: 50%;
  }
  ul a{
    color: burlywood;
    text-decoration: none;
  }
  .gigs{
    display: flex;
    margin-right: 20px;
  }
  .asas{
    display: flex;
    font-size: 24px;
    font-weight: bold;
  }